/*******reset*******/
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
    color:#000;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p{
    margin: 0;
    padding: 0;
}

ul,
ol,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

/**************/

html {
    background-color: #fff;
}

html:root {
    --main-color: rgb(37,49,70);
  }

body {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../assets/img/main_bg.jpg);
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    color: var(--main-color);
}

.container {
    padding: 0 20px;
}

.header {
    background-color: var(--main-color);
}

.nav {
    padding: 20px 0;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    padding: 0 20px;
    line-height: 1.4;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}

.nav-link:hover {
    border-bottom-color: #fff;
    transform: scale(1.1);
    transition: border-bottom-color .2s, transform .2s;
}

.info {
    border: 1px solid black;
    display: flex;
}
.info-detailed {
    border: 1px solid red;
    flex: 4;
    padding: 0 30px;
    
}
.info-short {
    border: 1px solid green;
    flex: 3;
    padding: 0 30px;
}

.fullname {
    margin: 0 auto;
    padding: 70px 0 50px;
    font-weight: bold;
    font-size: 76px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.subtitle-inner {
    font-style: italic;
    font-size: 32px;
    text-transform: uppercase;
    border-top: 2px solid var(--main-color);
    padding: 40px 0;
}
